html
    head
        title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://unpkg.com/@angular/core@2.0.2')
        script(src='app.js')
    body
        h1
        p Welcome to #{title}
